:root {
  --main-color: #ece8dd;
  --blue-color: #579bb1;
  --lighter-color: #f8f4ea;
  --brown-color: #e1d7c6;
  --darker-color: #343434;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: var(--darker-color);
  background-color: var(--main-color);
  margin: 10px auto 50px auto;
  padding: 20px;
  max-width: 700px;
  border-radius: 4px;
  border: 2px solid var(--darker-color);
}

.main-title {
  margin: 0px auto;
  padding: 20px 20px 0px 20px;
  max-width: 700px;
  font-size: 45px;
  font-weight: 800;
}

.git-repo-source {
  font-size: 15px;
}
