:root {
  --main-color: #ece8dd;
  --blue-color: #579bb1;
  --lighter-color: #f8f4ea;
  --brown-color: #e1d7c6;
  --darker-color: #343434;
}

.forecast-card {
  display: inline-block;
  background-color: var(--brown-color);
  margin: 0px 5px 20px 5px;
  padding: 20px;
  max-width: 80px;
  border: 2px solid var(--darker-color);
  color: black;
  transition: 0.3s ease-in-out;
  font-size: 18px;
  border-radius: 4px;
}

.forecast-card:hover {
  background-color: var(--blue-color);
  color: var(--lighter-color);
}

.forecast-day {
  opacity: 0.5;
}

.forecast-icon {
  max-width: 80px;
}

.forecast-max-temp {
  font-weight: 700;
  margin: 0px 5px;
}

.forecast-min-temp {
  opacity: 0.7;
  margin: 0px 5px;
}
